.page-test {
    width: 100%;
    height: 100%;
    position: relative;
}
#idTest {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1103px;
}
.frame-all {
    background: #f7f7f7;
}
.test-header {
    height: 70px;
    .test-header-wrapper {
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    }
}

// table 
$table-search-height: 0px;
$table-pagination-height: 50px;
$table-header-height: 50px;
$table-border-color: lightgray;
.table-component {
    width: 1200px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
  // background: lightblue;
  .table-search {
    height: $table-search-height;
  }
  .table-pagination {
    height: $table-pagination-height;
  }
  .table-container {
    width: 100%;
    height: calc(100% - #{$table-search-height + $table-pagination-height});
    .table-header-container {
      color: $table-border-color;
      font-weight: bold;
      height: $table-header-height;
      scrollbar-width: thin;
    }
    .table-body-container {
        height: calc(100% - #{$table-header-height});
        overflow: auto;
        scrollbar-width: thin;
    }
    table {
      width: 100%;
      &#tHead {
        height: 100%;
      }
      border-collapse: collapse;
      table-layout: fixed;
      empty-cells: show;
      border-spacing: 0;
      tr {
        border: 1px solid $table-border-color;
        td {
            border-right: 1px solid $table-border-color;
            &.w180 {
                width: 180px;
                text-align: center;
            }
          &>div {
              width: 100%;
              text-align: center;
              overflow-wrap: anywhere;
          }
        }
      }
    }
  }
}

.graph-organization {
  $item-height: 100px;
  $item-width: 100px;
  // $item-unit: $item-width + 20px;
  $item-unit: 200px;
  --item-unit-width: 200px;
  --item-all-width: 500px;
  $bone-color: lightblue;

  position: relative;
  width: var(--item-all-width);
  height: 500px;
  overflow: auto;  
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);

  .children {
    position: absolute;
    width: var(--item-unit-width);
    left: 100px;
    &.root {
      position: relative;
      margin: auto;
      left: unset;
    }
  }

  .graph-item-wrapper {
   .graph-item {
      width: calc(#{$item-width} - 20px);
      height: $item-height;
      text-align: center;
      border: 1px solid;
      margin: auto;
      &.role0 {
        background-color: lightblue;
      }
      &.role1 {
        background-color: lightgoldenrodyellow;
      }
      &.role2 {
        background-color: lightsalmon;
      }
      &.role3 {
        background-color: lightgreen;
      }
      p {
        font-size: 0.5rem;
        text-indent: 1rem;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .bone-upper {
    width: var(--item-unit-width);
    position: relative;
    margin: auto;
    &>div {
      &:nth-child(1) {
        height: 20px;
        width: 3px;
        margin: auto;
        background-color: $bone-color;
      }
      &:nth-child(2) {
        position: absolute;
        height: 3px;
        background-color: $bone-color;
      }
    }
  }
  .bone-lower {
    width: var(--item-unit-width);
    margin: auto;
    &>div {
      &:nth-child(1) {
        height: 20px;
        width: 3px;
        left: 0;
        margin: auto;
        background-color: $bone-color;
      }
    }
  }
  .docked-item {
    display: flex;
  }
}