.page-test {
    width: 100%;
    height: 100%;
    position: relative;
}
#idTest {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1103px;
}
.frame-all {
    background: #f7f7f7;
}
.test-header {
    height: 70px;
    .test-header-wrapper {
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    }
}

// table 
$table-search-height: 0px;
$table-pagination-height: 50px;
$table-header-height: 50px;
$table-border-color: lightgray;
.table-component {
    width: 1200px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
  // background: lightblue;
  .table-search {
    height: $table-search-height;
  }
  .table-pagination {
    height: $table-pagination-height;
  }
  .table-container {
    width: 100%;
    height: calc(100% - #{$table-search-height + $table-pagination-height});
    .table-header-container {
      color: $table-border-color;
      font-weight: bold;
      height: $table-header-height;
      scrollbar-width: thin;
    }
    .table-body-container {
        height: calc(100% - #{$table-header-height});
        overflow: auto;
        scrollbar-width: thin;
    }
    table {
      width: 100%;
      &#tHead {
        height: 100%;
      }
      border-collapse: collapse;
      table-layout: fixed;
      empty-cells: show;
      border-spacing: 0;
      tr {
        border: 1px solid $table-border-color;
        td {
            border-right: 1px solid $table-border-color;
            &.w180 {
                width: 180px;
                text-align: center;
            }
          &>div {
              width: 100%;
              text-align: center;
              overflow-wrap: anywhere;
          }
        }
      }
    }
  }
}
